<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">

	 <!-- Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<!-- Font Awesome -->
    <script src="https://use.fontawesome.com/b38c8ed4c7.js"></script>
	<link rel="stylesheet" href="./assets/css/burger_style.css" type="text/css" />

	<title>Eat Da Burger!!!</title>
</head>

<body>
    
    <img src="assets/img/burger.jpg" width="300px" id="cute_burger">

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2018 SepidFlh Entertainment</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/zahrafalah/burger">Reference Work</a>
			</div>
		</div>
    </footer>
    
</body>
</html>