<h1>Eat-Da-Burger!</h1>

<main>
    <div class="container">
        <div class="row">
            <div class="col s6">
                
                <div>
                    <form>
                        <button type="submit" class='burgerAvailable'></button>
                    </form>
                </div>

            </div>


            <div class="col s6">
                
                <div class='burgerEaten'>
                    <div>
                       
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</main>

<h2>Add A Burger Option</h2>

<div class="row">
    <div class="col s12">
        <form>
            <input type="text" id="name" name="burger_name">
            <button type="submit" class="addBurgerButton">Add The Burger</button>
        </form>
    </div>
</div>