html {
   background-color: #FFC04C;
}

body {
   width: 75%;
   margin: 0 auto; 
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: white;
}

#cute_burger {
   display: block;
   margin: auto;
}

.burgerFooter {
	background-color: #FFC04C;
	padding: 20px 0;
}
